<?xml version="1.0"?>
<config>
    <modules>
        <SixBySix_CustomValue>
            <version>0.0.0.1</version>
        </SixBySix_CustomValue>
    </modules>
    <global>
        <models>
            <customvalue>
                <class>SixBySix_CustomValue_Model</class>
            </customvalue>
            <catalog>
                <rewrite>
                    <product>SixBySix_CustomValue_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <order>SixBySix_CustomValue_Model_RealTimeDespatch_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
    </global>
    <rtd_mappings>
        <product>
            <export>
                <CustomValue>customValue</CustomValue>
            </export>
        </product>
        <order>
            <CustomField>customOrderField</CustomField>
            <OrderCreateDate>createDateValue</OrderCreateDate>
        </order>
    </rtd_mappings>
</config>
